<div class="container-fluid">
    <div class="row" id="top">
        <div class="image">
            <img class="set-height" src="https://media.giphy.com/media/hxYmtE6C4wi2Y/giphy.gif" alt="" />
            <div class="text-center">
                <h2>
                    <div class="box autoMarg">
                        <img src="https://p3plcpnl0543.prod.phx3.secureserver.net:2083/cpsess3727403599/viewer/home%2fuk63ud2vjsq6%2fpublic_html%2fassets%2fpersonal/me.jpg" alt="" class="pic" >
                    </div>
                    <div class="text-center light">
                        <h1>
                            <strong>
                                Noah Chait
                            </strong>
                        </h1>
                        <h3> 
                            Full stack developer. People person.
                        </h3>
                        <a href="/assets/documents/Resume_NChait.pdf"> 
                            <button type="button" class="btn btn-lg btn-primary light">
                                <span class="glyphicon glyphicon-briefcase badge">

                                </span>
                                View Resume
                            </button>
                        </a>
                    </div>
                </h2>
            </div>
        </div>         
    </div>
</div>
