<div class="container-fluid">
    <div class="row" id="top">
        <div class="image">
                <img class="set-height" src="assets/images/personal/giphy.gif" alt="" />
                <div class="text-center">
                <h2>
                    <div class="box autoMarg">
                        <img src="assets/images/personal/me.jpg" alt="" class="pic" >
                    </div>
                    <div class="text-center light">
                        <h1>
                            <strong>
                                Noah Chait
                            </strong>
                        </h1>
                        <h3> 
                            Full stack developer. People person.
                        </h3>
                        <a href="assets/documents/Resume_NChait.pdf"> 
                            <button type="button" class="btn btn-lg btn-primary">
                                <span class="glyphicon glyphicon-briefcase badge"></span>
                                View Resume
                            </button>
                        </a>
                    </div>
                </h2>
            </div>
        </div>         
    </div>
</div>
