<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3" ></div>            
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <div style="text-align:center; padding-bottom:10px; ">
            <img  class="logo" src="assets/images/personal/lastcall.png" >
          <h3>Sales Associate</h3>
          <h5>July - August 2017</h5>   
        </div>
      </div>
    </div>
    <div class="pre-collapse">
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
      <div class="col-xs-6 col-lg-4 col-md-4 col-sm-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ante, placerat tempor enim vel, semper facilisis leo. Nunc et turpis nec quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit amet, ullamcorper quis justo. Maecenas pellentesque tortor et nulla fermentum, sed auctor enim porttitor. Aliquam luctus mi sed.          
      </div>
        <div class="col-xs-6 col-lg-4 col-md-4 col-sm-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ante, placerat tempor enim vel, semper facilisis leo. Nunc et turpis nec quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit amet, ullamcorper quis justo. Maecenas pellentesque tortor et nulla fermentum, sed auctor enim porttitor. Aliquam luctus mi sed.            
      </div>
      <div class="col-lg-2 col-md-2 col-sm-1"></div>
    </div>
    <div class="post-collapse" style="padding:0 5%" >
        <div class="col-lg-2 col-md-2 col-sm-1"></div>
      <div class=" text-box col-lg-4 col-md-4 col-sm-5">  
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ante, placerat tempor enim vel, semper facilisis leo. Nunc et turpis nec quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit amet, ullamcorper quis justo. Maecenas pellentesque tortor et nulla fermentum, sed auctor enim porttitor. Aliquam luctus mi sed.     <br><br>           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ante, placerat tempor enim vel, semper facilisis leo. Nunc et turpis nec quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit amet, ullamcorper quis justo. Maecenas pellentesque tortor et nulla fermentum, sed auctor enim porttitor. Aliquam luctus mi sed.            
      </div>
    </div>
  </div>
</div>
