.min-size{
    height: 500px;
    color: white;
}
.logo{
    width:100%; 
    padding-top:25px;
    padding-bottom:25px;
}
@media screen and (max-width: 767px) {
    .pre-collapse{
        display: none;
    }
 }
@media screen and (min-width: 767px) {
    .post-collapse{
        display: none;
    }
 }