.min-size{
    height: 500px;
    color: white;
}
.logo{
    width:100%; 
    padding-top:25px;
    padding-bottom:25px;
}
.bottom-text{
    z-index: 10;
    margin-top: 455px;
    position: absolute;
    right:30px;
}