<!--The content below is only a placeholder and can be replaced.-->
<meta charset="utf-8">
<title>Bootstrap </title>
<meta name="description" content="Hello World">
<!-- Latest compiled and minified CSS -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
<script src="https://unpkg.com/slick-carousel@1.6.0/slick/slick.js"></script>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

