<div class="container-fluid">
  <div class="row" style="border:3px solid black; height:100%;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
      <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3" ></div>            
      <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
        <div style="text-align:center;" style="border:3px solid black;">
          <img class="logo" src="assets/images/personal/firepower.png" style="">
          <h3>Junior Analyst</h3>
          <h5>May - June 2017</h5>
        </div>
      </div>
    </div>
    <div class="text-box">
      <div class="col-md-1"></div>
      <div class="col-sm-6 col-md-5 text-center" style="padding-bottom:10px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ante, placerat tempor enim vel, semper facilisis leo. Nunc et turpis nec quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit amet, ullamcorper quis justo. Maecenas pellentesque tortor et nulla fermentum, sed auctor enim porttitor. Aliquam luctus mi sed.          
        quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit  quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus.           
      </div>
      <div class="col-sm-6 col-md-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex ante, placerat tempor enim vel, semper facilisis leo. Nunc et turpis nec quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit amet, ullamcorper quis justo. Maecenas pellentesque tortor et nulla fermentum, sed auctor enim porttitor. Aliquam luctus mi sed. 
        quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus. Ut lectus velit, feugiat at ornare sit  quam fermentum ornare. Etiam porttitor quam ac nulla rutrum, euismod ullamcorper lectus finibus.          
      </div>
        <div class="col-md-1"></div>
    </div>
  </div>
</div>


